/* https://www.awwwards.com/sites/serio-verify */
$primary-background-color: #FEFFFF;
$secondary-background-color: #DEF2F1;
$primary-highlight-color: #3AAFA9;
$secondary-highlight-color: #2B7A78;
$primary-font-color: #17252A;