<h2>Pomodoro</h2>
<div>
  {{ (currWorkTime | amFromUnix) | amDateFormat:'mm:ss'}}
</div>
<div>
  Work <br>
<button class="btn" (click)="changeTimer('start', 'add')">+</button>
  {{ (workTime | amFromUnix) | amDateFormat:'mm:ss'}}
<button class="btn" (click)="changeTimer('start', 'minus')">-</button>

</div>
<div>
  Break <br>
<button class="btn" (click)="changeTimer('break', 'add')">+</button>
  {{ (breakTime | amFromUnix) | amDateFormat:'mm:ss'}}
<button class="btn" (click)="changeTimer('break', 'minus')">-</button>

</div>
<button class="btn" (click)="startClock()">Start</button>

