<h2>Pomodoro</h2>
<div class="timer">
  <div *ngIf="isWorkTime">
    Work!! <br> {{ (currWorkTime | amFromUnix) | amDateFormat:'mm:ss'}}
  </div>
  <div *ngIf="!isWorkTime">
    Take a Break... <br> {{ (currBreakTime | amFromUnix) | amDateFormat:'mm:ss'}}
  </div>
</div>
<div>
  Work <br>
  <button class="btn" (click)="changeSetTimes('work', 'add')">+</button> {{ (setWorkTime | amFromUnix) | amDateFormat:'mm:ss'}}
  <button class="btn" (click)="changeSetTimes('work', 'minus')">-</button>
</div>
<div>
  Break <br>
  <button class="btn" (click)="changeSetTimes('break', 'add')">+</button> {{ (setBreakTime | amFromUnix) | amDateFormat:'mm:ss'}}
  <button class="btn" (click)="changeSetTimes('break', 'minus')">-</button>

</div>
<div *ngIf="!timeRunning">
  <button class="btn" (click)="startClock()">Start</button>
</div>
<div *ngIf="timeRunning">
  <button class="btn" (click)="pauseClock(false)">Pause</button>
</div>
<div>
  <button class="btn" (click)="reset()">Reset</button>
</div>