<h2>Pomodoro</h2>
<div *ngIf="isWorkTime">
  {{ (currWorkTime | amFromUnix) | amDateFormat:'mm:ss'}}
</div>
<div *ngIf="!isWorkTime">
  {{ (currWorkTime | amFromUnix) | amDateFormat:'mm:ss'}}
</div>
<div>
  Work <br>
<button class="btn" (click)="changeTimer('work', 'add')">+</button>
  {{ (setWorkTime | amFromUnix) | amDateFormat:'mm:ss'}}
<button class="btn" (click)="changeTimer('work', 'minus')">-</button>

</div>
<div>
  Break <br>
<button class="btn" (click)="changeTimer('break', 'add')">+</button>
  {{ (setBreakTime | amFromUnix) | amDateFormat:'mm:ss'}}
<button class="btn" (click)="changeTimer('break', 'minus')">-</button>

</div>
<div *ngIf="!timeRunning">
<button class="btn" (click)="startClock()">Start</button>
</div>
<div *ngIf="timeRunning">
<button class="btn" (click)="pauseClock()">Pause</button>
</div>

