<p><a [routerLink]="['/']">Portfolio Home</a></p>
<div class="main-container">
  <div class="main-body">
    <h1>Thomas Edison</h1>
    <h3>The Wizard of Menlo Park</h3>
    <div class="content-container">
      <figure class="image-container">
        <p>
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Ford_Edison_Firestone1.jpg"></p>
        <figcaption>Henry Ford, Thomas Edison and Harvey Firestone, 1929.</figcaption>
      </figure>
      <div class="quote-container">
        <blockquote>
          <p>"I have not failed. I've just found 10,000 ways that did not work."</p>
        </blockquote>

      </div>
    </div>
    <div class="summary-container">
      <p>
        A summary of Thomas Edison's life:
      </p>
      <ul>
        <li>Thomas Alva Edison was born on <b>Feb. 11, 1847</b>. He was the last of seven children.</li>
        <li>In <b>1854</b>, the Edison family moved to Port Huron, Michigan where Thomas attended public school for a total of
          12 weeks. Deemed to "dificult" by his teacher, his mother removed him from public school and home schooled him.
        </li>
        <li>In <b>1866</b> Edison moved to Louisville, Kentucky to work for The Associated Press. While working the night shift,
          he was able to spend plenty of time reading and experimenting.</li>
        <li>In <b>1868</b>, with his mother falling ill and his father out of work, Edison ventured to Boston finding work with
          the Western Union Company.</li>
        <li>In <b>1869</b>, Edison moved to New York City where he developed his first invention, an improved stock ticker, for
          which he was paid $40,000.</li>
        <li>In <b>1870</b> Edison opened his first lab, in Newark, New Jersey, where he developed products for companies that
          hired him.
        </li>
        <li> Edison married Mary Stilwell in <b>1871</b> and the couple had 3 children in their 13 year marraige. Mary died in
          <b>1884</b> at the age of 29.</li>
        <li>In <b>1876</b> Edison expanded his operation to Menlo Park, New Jersey. There he built an independent industrial
          research facility containing machine shops and laboratories.</li>
        <li>Edison was granted a patent for the light bulb in January of <b>1880</b>. That same year he founded the Edison Illumination
          Company.
        </li>
        <li>Thomas Edison died on <b>October 18, 1931</b> due to complications with diabetes. He was 84 years old. Over his lifetime,
          Edison filed 1093 U.S. Patent applications.</li>
      </ul>
    </div>
    <p>For more information on Thomas Edison, please see his <a href="https://en.wikipedia.org/wiki/Thomas_Edison" target="_blank">Wikipedia Entry</a></p>
    <p>
  </div>
</div>