<div>
  <a [routerLink]="['/tribute']">Tribute Page</a>
</div>
<div>
  <a [routerLink]="['/quotes']">Random Quote Generator</a>
</div>
<div>
  <a [routerLink]="['/weather']">Local Weather</a>
</div>
<div>
  <a [routerLink]="['/wiki']">Wikipedia Viewer</a>
</div>
<div>
  <a [routerLink]="['/calculator']">Calculator</a>
</div>
<div>
  <a [routerLink]="['/pomo']">Pomodoro Clock</a>
</div>
<div>
  <a [routerLink]="['/tictactoe']">Tic Tac Toe</a>
</div>
<div>
  <a [routerLink]="['/simon']">Simon</a>
</div>