<h2>Simon</h2>
<div class="control-button start-button" (click)="startGame()"></div>Start
<div class="control-button strict-button" [ngClass]="{'strict-button-on': strict}" (click)="toggleStrict()"></div>Strict
<div class="counter-display">{{ count | lpad: 2: '0'}}</div>
<div class="game-container">
    <div class="green-button color-button" [ngClass]="{'green-button-on': activeButton == 'green'}" (click)="compMove || userMove(0)"></div>
    <div class="red-button color-button" [ngClass]="{'red-button-on': activeButton == 'red'}" (click)="compMove || userMove(1)"></div>
    <div class="yellow-button color-button" [ngClass]="{'yellow-button-on': activeButton == 'yellow'}" (click)="compMove || userMove(2)"></div>
    <div class="blue-button color-button" [ngClass]="{'blue-button-on': activeButton == 'blue'}" (click)="compMove || userMove(3)"></div>
</div>