<div *ngIf="!currentConditions">
  <button class="btn" (click)="useGps()">use gps</button>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label for="lat">Enter Latitude</label>
    <input type="text" placeholder="lat" id="lat" class="form-control" required name="lat" ngModel>
    <label for="long">Enter Longitude</label>
    <input type="text" placeholder="long" id="long" class="form-control" required name="long" ngModel>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
<div *ngIf="currentConditions">
  <h2>{{currentConditions.display_location.full}}</h2>
  <h3>{{currentConditions.weather}}</h3>
  <img src={{currentConditions.icon_url}}>
  <h3 *ngIf="tempC" (click)="toggleTemp()">{{currentConditions.temp_c}}C</h3>
  <h3 *ngIf="!tempC" (click)="toggleTemp()">{{currentConditions.temp_f}}F</h3>
  <button class="btn" (click)="clearLocation()">New Location</button>
</div>